{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Categories" %}{% endblock %}
{% block extra_css %}{% endblock %}
{% block content %}
<div class="container mt-4">
  <h4>{% translate "Categories" %}:</h4>
    <ul class="mb-3">
    {% for category in category_list %}
        <li><h6 class="mt-2"><a data-bs-toggle="tooltip" data-bs-placement="right" title="{{ category.definition|capfirst }}" href="{% url 'category-entry-list' category_slug=category.slug %}">{{category|capfirst}}</a></h6></li>
    {% endfor %}
    </ul>
</div>
{% if page_obj.paginator.num_pages > 1 %}
{% include "partials/paginator.html" %}
{% endif %}
{% endblock %}
