{% extends "base.html" %}
{% load static %}
{% load l10n %}
{% load i18n %}
{% block title %}voclit{% endblock %}
{% block content %}
{% if user.is_staff %}
<div class="nav d-flex justify-content-end">
    <a class="nav-link text-end" href="{% url 'admin:voc_entry_change' entry.pk %}">{% translate "edit" %}</a>
</div>
{% endif %}
<div>
  <p>
    <!-- ENTRY TEXT START -->
      <span><strong>{{ entry }}</strong>. </span> 
    <!-- ENTRY TEXT END -->
    <!-- ENTRY AUTHOR START -->
      <span><a href="{% url 'entry-list' %}{% querystring author=entry.authors_slugs %}">{{ entry.cotext.reference.formatted_authors }}</a>.</span>
    <!-- ENTRY AUTHOR END -->
    <!-- ENTRY COTEXT DATE START -->
      {{ entry.cotext.template_date_str_local }}{% if entry.cotext.text_date %}.{% endif %}
    <!-- ENTRY COTEXT DATE END -->
    <!-- ENTRY GRAMMATICAL CLASS START -->
      {{ entry.term_gramm_class|capfirst }}.
    <!-- ENTRY GRAMMATICAL CLASS END -->
    <!-- ENTRY PHONETIC TRANSCRIPTION START -->
      {% if entry.term.phonetic_transcription %}{{ entry.term.phonetic_transcription }}.{% endif %}
    <!-- ENTRY PHONETIC TRANSCRIPTION END -->
    <!-- ENTRY DEFINITIONS START -->
      {% if entry.definitions|length <= 1 %}
          {{ entry.definitions.first }}
      {% else %}
        {% for def in entry.definitions %}
            <strong>{{ forloop.counter }}{{". "}}</strong>
            {{ def }}
        {% endfor %}
      {% endif %}
    <!-- ENTRY DEFINITIONS END -->
    <!-- ENTRY CATEGORY START -->
      <strong>{% translate "Category" %}: </strong><a href="{% url 'entry-list' %}{% querystring category=entry.trad_term.slug %}">{{entry.trad_term|capfirst}}</a>.
    <!-- ENTRY CATEGORY END -->
    <!-- ENTRY COTEXT START -->
      <strong>{% translate "Cotext" %}: </strong>{{ entry.cotext.text }}.
    <!-- ENTRY COTEXT END -->
    <!-- ENTRY REFERENCE START -->
      <strong>{% translate "Reference" %}:</strong>
      {{ entry.cotext.reference.citation }} {{ entry.cotext.loc_in_ref }}.
    <!-- ENTRY REFERENCE END -->
    <!-- ENTRY NOTE START -->
      {% if entry.note %}
          <strong>Note:</strong>
          {{ entry.note }}
      {% endif %}
    <!-- ENTRY NOTE END -->
  </p>
  <p>
    <!-- RELATED ENTRIES START -->
      <p>
        {% if related_entries  %}
          {% translate "See also" %}:<br>
          {% regroup related_entries by type as type_list %}
          {% for type in type_list %}
            <strong>{{type.grouper|capfirst}}{{type.list|pluralize}}: </strong>
            {% regroup type.list|dictsort:"author.name" by author as author_list %}
            {% for author in author_list %}
              {% for entry in author.list %}
                {% include "voc/entry_with_tooltip.html" with entry=entry.entry placement="top" %}{% if forloop.last is not True%},{% endif %}
              {% endfor %}
              <span> {% translate "by" %} <a href="{% url 'entry-list' %}{% querystring author=author.grouper.slugs %}">{{author.grouper.name}}</a>{% if forloop.last %}{{". "}}{% else %}{{"; "}}{% endif %}</span>
            {% endfor %}
          {% endfor %}
        {% endif %}
      </p>
    <!-- RELATED ENTRIES END -->
  </p>
</div>
  {% endblock %}
