{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Em construção — Vocabulário de Crítica Literária</title>
    <style>
      body {
        font-family: system-ui, sans-serif;
        background-color: #fafafa;
        color: #333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      img {
        max-width: 300px;
        height: auto;
        margin-bottom: 20px;
        opacity: 0.9;
      }
      h1 {
        font-weight: 500;
        font-size: 1.5rem;
      }
    </style>
  </head>
  <body>
    <img
      src="{% static 'voc/img/under_construction.png' %}"
      alt="Página em construção."
    />
    <h1>Página em construção.</h1>
  </body>
</html>
